<launch>
    <arg name="version" default="2" doc="1 or 2" />

    <!-- Init Blue Simulator -->
    <include file="$(find blue_gazebo)/launch/full_pickup.launch"/>

    <!-- Load MoveIt! Stack -->
    <include file="$(find blue_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="false"/>
        <arg name="version" value="$(arg version)" />
    </include>

    <include file="$(find blue_moveit_config)/launch/move_group.launch" />

    <node name="joint_state_desired_publisher" pkg="topic_tools" type="relay" args="joint_states joint_states_desired" />
</launch>
